.footer {
    align-items: center;
    background: #F2F2F2;
    display: flex;
    justify-content: space-between;
}

.footer-autor {
    color: #333333;
}

.redes-sociais, .redes-sociais li {
    display: inline-block;
}

.redes-sociais a {
    color: #595959;
    display: block;
    font-size: 2rem;
    transition: transform .2s ease-in;
}
.redes-sociais a:hover {
    transform: translateY(-10px);
}