.menu {
    background: #F2F2F2;
    display: flex;
    justify-content: space-between;    
}

.menu-lista, .menu-item {
    display: inline-block;
}

.menu-titulo {
    color: #595959;
}

.menu-link {
    color: #595959;
    display: block;
    font-weight: 100;
    margin-left: 2rem;
    text-decoration: none;
    transition: transform .15s linear;
}
.menu-link:hover {
    transform: scale(1.3);
}